/ChatIFExMateus/nbproject/private/
/ChatIFExMateus/dist/
/ChatIFExMateus/build/
/ChatADS/dist/
/CalculaDelayServidor/dist/
/Chat/nbproject/private/
/Chat/build/
/Chat/dist/
/Chat2/nbproject/private/
/Chat2Servidor/nbproject/private/
/Chat2Servidor/build/
/Chat2Servidor/dist/
/Chat2/build/
/Chat2/dist/
/Chat3/nbproject/private/
/very-simple-swing-chat/nbproject/private/
/very-simple-swing-chat/build/
/Mutex/nbproject/private/
/Mutex/build/
/Mutex/dist/