/MTTCliente/nbproject/private/
/MTTServidor/nbproject/private/
/MTTServidor/build/
/MTTCliente/build/
/Teste/nbproject/private/
/Teste/build/
/novo/nbproject/private/
/novo/build/
/mutex/nbproject/private/
/mutex/build/
/mutex/dist/
/EleicaoAnel/nbproject/private/
/EleicaoAnel/build/
/EleicaoAnel/dist/
/RingElection1/nbproject/private/
/RingElection1/build/
/RingElection1/dist/
/New Folder/RingAlgo/nbproject/private/
/New Folder/RingAlgo/build/